@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
}
li{
  text-decoration: none;
}
link{
  text-decoration: none;
}
@layer components{
  .headerHover{
    @apply px-2 h-[80%] flex items-center border border-transparent hover:border-white cursor-pointer duration-100
  }
}